# CONFIG CLAVE
# Coloquen la clave q Irina escribió
JWT_SECRET=
# Tiempo de expiración en milisegundos
JWT_EXPIRATION_MS=86400000
# agreguenlo, son 7 días en milisegundos
JWT_REFRESH_EXPIRATION_MS=604800000

# CONFIG. BASE DE DATOS
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nombre_de_la_bd_del_proyecto
DB_USERNAME=
DB_PASSWORD=

# CONFIG. PAYU (Sandbox - pruebas)
# Estas son las credenciales oficiales de prueba de PayU, hay que cambiarlos cuando creemos la cuenta
PAYU_API_KEY=
PAYU_API_LOGIN=
PAYU_ACCOUNT_ID=
PAYU_MERCHANT_ID=
PAYU_URL=https://sandbox.api.payulatam.com/payments-api/4.0/service.cgi

GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_URL=https://maps.googleapis.com/maps/api/geocode/json

MP_ACCESS_TOKEN=
