# CONFIG CLAVE
# Coloquen la clave q Irina escribió
JWT_SECRET=
# Tiempo de expiración en milisegundos
JWT_EXPIRATION_MS=86400000

# CONFIG. BASE DE DATOS
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nombre_de_la_bd_del_proyecto
DB_USERNAME=
DB_PASSWORD=